<form>

    {{textarea value=text class="form-control" valueBinding="text"}}
    <input type="submit" value='Create Comment'
           class="btn btn-success" {{ action 'createComment' content target="controllers.TaskCommentsNew" }}/>


</form>